.dimmed {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 910;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  opacity: 50%;
  border-radius: 8px;
  overflow: hidden;
  overflow: auto; /* 영역을 넘어가는 콘텐츠를 스크롤 가능하게 함 */
  width: 300px;
  height: 400px; /* 높이를 400px로 지정 */
  padding: 24px;
  box-sizing: border-box;
  z-index: 911;
  -ms-overflow-style: none; /* IE and Edge에서 스크롤바 숨기기 */
  scrollbar-width: none; /* Firefox에서 스크롤바 숨기기 */
}

/* 웹킷 기반 브라우저에서 스크롤바 숨기기 */
.modal::-webkit-scrollbar {
  display: none;
}
