.modalWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4px;
}

.important {
  color: rebeccapurple;
  font-weight: 700;
}

.imageContainer {
  position: relative;
  display: inline-block;
  margin-top: 4px;
}

.copyrightLink {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 8px;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.manualWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  min-height: 200px;
  justify-content: space-between;
}

.manualTitle {
  font-weight: 700;
  font-size: large;
}

.EventListHtmlWrapper {
  background-color: white;
  width: 200px;
  padding: 5px;
  gap: 4px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 0.6;
  border-radius: 8px;
}

.eventItem {
  margin: 4px;
  text-align: center;
}

.EventListTitle {
  font-weight: 900;
  font-size: large;
  width: 100%;
  text-align: center;
  margin: 4px;
  color: #86603a;
}
.checked {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 600;
}
