.modalWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4px;
}

.important {
  color: rebeccapurple;
  font-weight: 700;
}

.imageContainer {
  position: relative;
  display: inline-block;
  margin-top: 4px;
}

.copyrightLink {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 8px;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.manualWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  min-height: 200px;
  justify-content: space-between;
}

.manualTitle {
  font-weight: 800;
  font-size: larger;
  margin-bottom: 8px;
}

.manualContents {
  display: flex;
  flex-direction: column;
  height: 150px;
  line-height: 20px;
}

.highLight {
  font-weight: 800;
  color: #145a35;
}
.hideButton {
  opacity: 0.7;
  background: none;
  border: none;
  height: 16px;
}

.hideButton:hover {
  opacity: 1;
  font-weight: 800;
}

.naviWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.naviButton {
  color: #4caf50; /* 버튼 배경색 */
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px; /* 폰트 크기 */
  line-height: 16px;
}

.naviButton:hover {
  color: #145a35; /* 호버 시 배경색 */
  font-weight: 800;
}

.EventListHtmlWrapper {
  background-color: white;
  width: 200px;
  padding: 5px;
  gap: 4px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 0.6;
  border-radius: 8px;
}

.eventItem {
  margin: 4px;
  text-align: center;
}

.EventListTitle {
  font-weight: 900;
  font-size: large;
  width: 100%;
  text-align: center;
  margin: 4px;
  color: #86603a;
}
.checked {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 600;
}
